<body>
  <div class="row">
    <div
      class="col-12"
      style="
        text-align: -webkit-center;
        display: flex;
        justify-content: center;
        align-items: center;
      "
    >
      <mat-card>
        <form
          action="https://tfg-hector-22.herokuapp.com/upload"
          method="POST"
          enctype="multipart/form-data"
        >
          <div
            class="row"
            style="
              text-align: -webkit-center;
              display: flex;
              justify-content: center;
              align-items: center;
            "
          >
            <div class="col-sm-12">
              <input type="file" name="file" id="file" class="inputfile" />
              <label for="file" class="myButton">Elegir archivo</label>
              <input type="submit" class="myButton" value="Subir archivo" />
            </div>
          </div>
          <div
            class="row"
            style="
              text-align: -webkit-center;
              display: flex;
              justify-content: center;
              align-items: center;
            "
          >
            <div class="col-sm-6">
              <a (click)="borrarChatbot()" class="myButton">Borrar chatbot</a>
            </div>
            <div class="col-sm-6">
              <a (click)="crearChatbot()" class="myButton">Crear chatbot</a>
            </div>
          </div>
        </form>
        <!--<button mat-raised-button color="primary" (click)="crearChatbot()">
          Primary
        </button>-->
        <!--<button (click)="borrarChatbot()">Borrado</button>-->
      </mat-card>
    </div>
  </div>
</body>
